RedirectMatch 404 /\.git

DirectorySlash Off
#DirectoryIndex index.html feed.xml
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME}/feed.xml -f
RewriteRule ^(.+[^/])$ $1/feed.xml     [T=text/xml,L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*[^/])$ $1/ [L,R=permanent]

RewriteRule .*/interface.xsl /interface.xsl

RewriteCond %{REQUEST_URI} !^/keys/
RewriteRule .*/([^/]*).gpg /keys/$1.gpg [L,R=permanent]

AddType text/xml .xml
