<?xml version="1.0" ?>
<interface uri="http://repo.roscidus.com/docker/app" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <replaced-by interface="https://apps.0install.net/docker/app.xml"/>
  <feed src="https://apps.0install.net/docker/app.xml"/>
  <name>Docker Application Packages</name>
  <summary>utility to help make Compose files more reusable and sharable</summary>
  <homepage>https://github.com/docker/app</homepage>
  <needs-terminal/>

  <entry-point binary-name="docker-app" command="run"/>
</interface>
